body{
    margin:0;
    display: flex;
    flex-direction: column;
    align-items: center;

    }
.container-shadowbox{ box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin: 10px 0;
    text-align: center;}

    .imgfist img{width: 200px;}


    .container-start{padding: 10px 0;}


    button {
        padding: 10px 50px;
        text-transform: uppercase;
        border-radius: 8px;
        font-size: 17px;
        font-weight: 500;
        background-color: #008cff;
        text-shadow: none;
 
        cursor: pointer;
        box-shadow: transparent;
        border: 1px solid #ffffff80;
        transition: 0.5s ease;
        user-select: none;
      }
      
      .startbutton :hover  {
        color: #ffffff;
        background: #008cff;
        border: 1px solid #008cff;
        text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
        box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff,
          0 0 100px #008cff;
      }
      

      .startbutton{color: white;}

      .startbutton.clicked {
     background: rgb(68, 196, 255);
     
  
      }.home:hover  {
        color: #ffffff;
        background: #008cff;
        border: 1px solid #008cff;
        text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
        box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff,
          0 0 100px #008cff;
      }
      .home{color:white}
      /* #playIcon {
        background: rgb(68, 196, 255);
      } */

      .blink {
        animation: blink-animation 1s infinite; /* Blinking effect */
      }
      
      @keyframes blink-animation {
        0% { opacity: 1; }
        50% { opacity: 0; }
        100% { opacity: 1; }
      }